
<mat-toolbar class="container-toolbar" color="primary">
    Contactarse
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
<form class="container-form" novalidate [formGroup]="form" (ngSubmit)="submit()">

    <p class="text-filter">Nombre</p>
    <div class="container-input">
        <input class="input-text" type="text" formControlName="name" required>
        <mat-error *ngIf="form.get('name').invalid">*</mat-error>
    </div>

    <p class="text-filter">Teléfono</p>
    <div class="container-input">
        <input class="input-text" type="tel" formControlName="phone" required>
        <mat-error *ngIf="form.get('phone').invalid">*</mat-error>
    </div>

    <p class="text-filter">Email</p>
    <div class="container-input">
        <input class="input-text" type="email" formControlName="email" required>
        <mat-error *ngIf="form.get('email').invalid">*</mat-error>
    </div>


    <div class="container-button">
        <button class="button" type="submit" [disabled]="form.invalid">Contactar</button>
    </div>
</form>



